eader{
    height: 100;
    padding-top:10px ;
    border: 5px;
    border-color: black;
    background-color: rgb(36, 165, 143);
    font-size: 40px;
    text-align: center;
}
section{
    width = 420px;
    height= 400px;
    border: 4px;
    float: left;
    margin-top:50px ;
    border-color: rgba(red, green, blue, alpha);
    text-align: justify;
    font-size: 30px;
}
.bigbox{
    width: 500px;
    height: 900px;
    border: 6px;
    border-color: gold;
    float: right;
}
.imgs
{
    width: 600px;
    height: 300px;
    border: 5px dashed;
    border-color: rgb(20, 255, 63);
    float: right;
    margin-right: 30px;
}
#topbox{
    margin-top: 10px;
    float: right;
}
#bottombox{
    margin-top: 10px;
    float: right;
}h